.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

html {
  background-color: teal;
  min-height: 100%;
  display: block; }

#menu_open {
  font-size: 2em;
  color: white;
  opacity: .8;
  display: inline;
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 10; }
  #menu_open:hover {
    cursor: pointer; }

#menu {
  z-index: 10;
  width: 0vw;
  height: 100vh;
  background-color: #b4b4b4;
  position: fixed;
  transition: width 1s;
  display: block; }
  #menu #close {
    position: absolute;
    font-size: 2em;
    right: 5vw;
    top: 0; }
    #menu #close:hover {
      cursor: pointer; }
  #menu .item {
    overflow: hidden;
    display: block;
    height: 20vh;
    font-size: 5em;
    color: #282828;
    text-align: center;
    line-height: 20vh;
    background-color: #969696;
    box-shadow: 0px 5px 12px #323232;
    opacity: 0;
    transition: opacity 2s, width 1s; }
    #menu .item:hover {
      background-color: #f0f0f0; }
  #menu a:hover {
    text-decoration: none; }
  #menu #choiceAbout {
    margin-bottom: 5vh;
    margin-top: 14vh; }
  #menu #choiceWork {
    margin-bottom: 5vh; }

#landing {
  z-index: 1;
  background-image: url("laptopBW.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  min-height: 100vh;
  color: gainsboro; }
  #landing ul {
    position: absolute;
    top: 15px;
    right: 10px; }
    #landing ul li {
      display: inline-block;
      color: gainsboro; }
    #landing ul a:link {
      color: gainsboro; }
    #landing ul a:hover {
      color: #969696; }

#intro {
  padding-left: 3em;
  padding-right: 2em;
  padding-top: 30vh;
  height: 100vh;
  z-index: 1; }

.page {
  background-color: #c8c8c8;
  min-height: 100vh; }

#about {
  padding-top: 4em;
  font-size: 1.2em;
  z-index: 1; }
  #about img {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: .5em;
    display: block; }
  #about #interests {
    padding-left: 0;
    margin-right: auto;
    margin-left: auto; }
    #about #interests p {
      font-size: 1.5em;
      padding-left: 1em;
      margin-left: 0;
      margin-bottom: 0; }
    #about #interests #topHalf {
      border-top: solid #808080 2px;
      border-right: solid #808080 2px;
      z-index: 0; }
    #about #interests #botHalf {
      border-bottom: solid #404040 2px;
      border-left: solid #404040 2px;
      z-index: 0; }

h3 {
  text-align: center; }

#work {
  min-height: 100vh;
  position: relative;
  padding-top: 5vh;
  font-family: "Arial Black", Gadget, sans-serif; }

.placeholder {
  display: block;
  height: 50%;
  width: 75%;
  position: relative;
  z-index: 2;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3vh; }

.desc {
  position: relative;
  height: auto;
  width: 50vw;
  z-index: 1;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #969696; }
  .desc p {
    top: 40%; }

.group1 {
  display: block; }

.jumbotron {
  box-shadow: 5px 10px #888888; }

.notop {
  padding-top: 0; }

#contact {
  padding-top: 25%;
  padding-bottom: 25%;
  font-family: "Arial Black", Gadget, sans-serif; }
  #contact button {
    background-color: #646464;
    border-color: #e6e6e6; }
    #contact button:hover {
      background-color: #969696;
      border-color: #e6e6e6; }

@media only screen and (min-width: 768px) {
  .logo-group {
    margin-top: 10%; }

  .placeholder, .example, .group1 {
    height: auto; } }
@media only screen and (min-width: 900px) {
  .media-body {
    height: 50%;
    font-size: 1.5em; }

  .logo-group {
    margin-top: 0%; } }

/*# sourceMappingURL=main.css.map */
