body{
  margin:0;
}
.thankYou{
  text-align: center;
  margin-left: auto;
   margin-right: auto;
  background-color:silver;
  display: table-cell;
  height: 100vh;
  width: 100vw;
  vertical-align: middle;
}
.thankYou ul li a:hover{
    color:rgb(150,150,150);
  }
  li{
    display: inline-block;
  }
.thankYou ul li a:link{
    color:rgb(80, 80, 80);
  }
.thankYou ul li a{
  color:rgb(80, 80, 80);
}
.thankYou .btn{
  background-color: rgb(100,100,100);
  border-color: rgb(50,50,50);
}
.thankYou .btn:hover{
  background-color: rgb(130,130,130);
  border-color: rgb(50,50,50);
}
ul{
  margin: 0;
  padding: 0;
  font-size: 3em;
}
