.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
.row > div{
  transition: all .5s ease-in-out;
}
html{
  background-color:teal;
  min-height: 100%;
  display: block;
  overflow-x: hidden;
}

#menu_open{
  font-size: 2em;
  display:inline;
  position: fixed;
  color: rgb(220,220,220);
  top:-5px;
  left: 5px;
  z-index: 10;
  &:hover{
    cursor: pointer;
    color:rgb(150,150,150);
  }
}
#menu{
  z-index: 10;
  width: 0vw;
  height: 100vh;
  background-color: rgb(180, 180, 180);
  position: fixed;
  transition: width 1s;
  display: block;

  #close{
    position:absolute;
    font-size: 2em;
    right:5vw;
    top:0;
    &:hover{
      cursor: pointer;
    }
  }
    .item{
      overflow: hidden;
      display:block;
      height: 20vh;
      font-size: 5em;
      color: rgb(40,40,40);
      text-align: center;
      line-height: 20vh;
      background-color: rgb(150, 150, 150);
      box-shadow: 0px 5px 12px rgb(50, 50, 50);
      opacity: 0;
      transition: opacity 2s, width 1s;
      &:hover{
        background-color: rgb(240, 240, 240);
      }
    }
    a:hover{
      text-decoration: none;
        }
  #choiceAbout{margin-bottom: 5vh;margin-top: 14vh;}
  #choiceWork{margin-bottom: 5vh;}
}
#landing{
  z-index:1;
  background-image: url("laptopBW.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display:block;
  min-height: 100vh;
  color:rgb(220,220,220);
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  a{
    color:rgb(220,220,220) !important;
  }
  ul{
    position: absolute;
    top: 15px;
    right:10px;
    li{
      display: inline-block;
      color:rgb(220,220,220);
    }
    a:link{
      color:rgb(220, 220, 220);
    }
    a:hover{
      color:rgb(150,150,150) !important;
    }
  }
  .resume-btn{
    background-color: #303030;
    padding: 10px;
    width: fit-content;
    margin: auto;
    margin-top: 10vh;
    border: 1px solid white;
    border-radius: 5px;
  }
}

#intro{
  padding-left: 3em;
  padding-right: 2em;
  padding-top:30vh;
  height: 100vh;
  z-index: 1;
  text-align: center;
}
.page{
  background-color: rgb(150, 150, 150);
  min-height:100vh;

}
#about{
  padding-top:4em;
  font-size: 1.2em;
  z-index: 1;
 img{
   margin-right:auto;
   margin-left: auto;
   margin-bottom: .5em;
   display: block;
 }
 #interests{
   padding-left: 0;
   margin-right:auto;
   margin-left:auto;

   p{
     font-size: 1.5em;
     padding-left: 1em;
     margin-left: 0;
     margin-bottom: 0;
   }
  #topHalf{
    border-top: solid #808080 2px;
    border-right: solid #808080 2px;
    z-index: 0;
  }
  #botHalf{
    border-bottom: solid #404040 2px;
    border-left: solid #404040 2px;
    z-index: 0;

  }
 }
}
#work{
  min-height:auto;
  position: relative;
  padding-top:5vh;
  font-family: "Arial Black", Gadget, sans-serif;
  .jumbotron{
    box-shadow: 5px 10px #888888;
  }
  .example{
    transition: all .5s ease-in-out;
    padding-top: 2em;
    .placeholder{
      display:block;
      position: relative;
      z-index: 2;
      margin-right: auto;
      margin-left: auto;
      margin-top: 3vh;
      img{
        position: relative;
        height:100%;
        width:100%;
      }
    }
    .col-md-4{
      flex-shrink: 1;
      transition: all .5s ease;
    }
    .col-md-9{
      flex-grow: 1;
      transition: all .5s ease;
    }
  }
}
.overlay{
  position: fixed;
  z-index: 100;
  width: 90vw;
  height: 90vh;
  background-color: rgb(220, 220,220);
  left: 0;right: 0;top: 0;bottom: 0;
  margin: auto;
  font-family: "Arial", Gadget, sans-serif;
  div{
    .inner-content{
      height:100%;
      font-size: 1.25rem;
      div{
        display:block;
        position: relative;
        z-index: 2;
        margin-right: auto;
        margin-left: auto;
        margin-top: 3vh;
        img{
          position: relative;
          height:100%;
          width:100%;
        }
      }
    }
  }
}
.tint-overlay{
  position:fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 80;
  display: none;
}


.group1{
  display:block;
  position: relative;
  font-size: .75em;
  padding-top: 2vh;
    img{
      position: relative;
      height:100%;
    }
  }
.notop{
  padding-top:0;
}
#contact{
  min-height: 75vh;
  padding-top:10%;
  padding-bottom:10%;
  font-family: "Arial Black", Gadget, sans-serif;
  button{
    background-color: rgb(100, 100, 100);
    border-color: rgb(230, 230, 230);
    &:hover{
      background-color:  rgb(150, 150, 150);
      border-color: rgb(230, 230, 230);
    }
  }
}
@media only screen and (min-width: 768px) {

  .logo-group{
    height:auto;
    margin-top: 10%;
  }

  #work{
    .example{
      h3{
        font-size: 2vw;
      }
    }
  }
  #contact{
    min-height: 100vh;
  }

}
@media screen and (min-width: 751px) and (max-width: 882px){
}
@media only screen and (min-width: 900px){
  .overlay div .inner-content{
    height: 100%;
    font-size: 1.4rem;
  }
}
