.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
.row > div{
  transition: all .5s ease-in-out;
}
html{
  background-color: rgb(240, 240, 240);
  min-height: 100%;
  display: block;
  overflow-x: hidden;
}

#menu_open{
  font-size: 2em;
  display:inline;
  position: fixed;
  color: rgb(220,220,220);
  top:-5px;
  left: 5px;
  z-index: 10;
  &:hover{
    cursor: pointer;
    color:rgb(150,150,150);
  }
}
#menu{
  z-index: 10;
  width: 0vw;
  height: 5vh;
  background-color: rgb(180, 180, 180);
  position: fixed;
  transition: width 1s;
  display: block;
  .menu-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
  }
  #close{
    position:absolute;
    font-size: 2em;
    right:5vw;
    top:0;
    &:hover{
      cursor: pointer;
    }
  }
    .item{
      overflow: hidden;
      display:block;
      height: 20vh;
      font-size: 5em;
      color: rgb(40,40,40);
      text-align: center;
      line-height: 20vh;
      background-color: rgb(150, 150, 150);
      box-shadow: 0px 5px 12px rgb(50, 50, 50);
      opacity: 0;
      transition: opacity 2s, width 1s;
      &:hover{
        background-color: rgb(240, 240, 240);
      }
    }
    a:hover{
      text-decoration: none;
        }
  #choiceAbout{margin-bottom: 5vh;margin-top: 14vh;}
  #choiceWork{margin-bottom: 5vh;}
}
#landing{
  z-index:1;
  background-image: url("./images/engineer.svg");
  background-size: 50vh;
  background-position: bottom;
  background-repeat: no-repeat;
  display:block;
  min-height: 93vh;

  a{
    color:rgb(155, 155, 155);
    &:hover{
      color: orange;
    }
  }
  ul{
    position: absolute;
    top: 15px;
    right:10px;
    li{
      display: inline-block;
    }
    a:hover{
      color:orange;
    }
  }
}

#intro{
  padding-left: 3em;
  padding-right: 2em;
  padding-top:30vh;
  height: 75vh;
  width: 95vw;
  z-index: 1;
  text-align: center;
  h1{
    font-size: 1.8em;
    font-weight: bold;
    @media screen and (min-width: 425px) {
      font-size: 2.8em;
    }
  }
  h2{
    font-size: 1.2em;
    @media screen and (min-width: 425px) {
      font-size: 2em;
    }
  }
}
.page{
  min-height:100vh;
}
#about{
  padding-top:4em;
  font-size: 1.2em;
  z-index: 1;
  margin-top: 0px;
  background: linear-gradient(180deg, orange 33%, rgba(0, 0, 0, 0) 33%);
  //background: rgb(101,101,101);
  //background: linear-gradient(180deg, rgba(101,101,101,1) 0%, rgba(150,150,150,1) 41%, rgba(221,221,221,1) 85%);
  .about-container{
    width: 90vw;
    min-height: 45vh;
    margin: auto;
    background-color: white;
    border: solid lightgrey .5px;
    @media screen and (min-width: 900px) {
      width: 45vw;
    }
  }
 #interests{
   padding-left: 0;
   margin-right:auto;
   margin-left:auto;

   p{
     font-size: 18px;
     padding-left: 1em;
     margin-left: 0;
     margin-bottom: 0;
   }
  #topHalf{
    //border-top: solid #808080 2px;
    //border-right: solid #808080 2px;
    z-index: 0;
  }
  #botHalf{
    //border-bottom: solid #404040 2px;
    //border-left: solid #404040 2px;
    z-index: 0;
    width: 100%;

  }
 }
 .skills{
   width: 100%;
   min-height: 25vh;
   margin-top: 5vh;
   .icon{
     width: 50px;
     height: 50px;
     overflow: hidden;
   }
 }
}
#work{
  min-height:auto;
  position: relative;
  padding-top:5vh;
  font-family: "Arial Black", Gadget, sans-serif;
  h2{
    font-size: 28px;;
  }
  .jumbotron{
    box-shadow: 3px 5px #888888;
    &:hover{
      box-shadow: 5px 8px #888888;
    }
  }
  .example{
    transition: all .5s ease-in-out;
    padding: 0;
    height: 40vh;
    overflow: hidden;
    .project-text{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: all .5s ease-in-out;
      color: white;
      p{
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 12px;
      }
    }
    .project-background{
      height: 100%;
      width: 100%;
      &:hover{
        transform: scale(1.2);
      }
      button{
        border-radius: 10px;
        transition: all .5s ease;
        &:hover{
          background-color: orange;
        }
      }
    }
    .placeholder{
      display:block;
      position: relative;
      z-index: 2;
      margin-right: auto;
      margin-left: auto;
      margin-top: 1.5vh;
      img{
        position: relative;
        height:100%;
        width:100%;
      }
    }
    .col-md-4{
      flex-shrink: 1;
      transition: all .5s ease;
    }
    .col-md-9{
      flex-grow: 1;
      transition: all .5s ease;
    }
  }
}
#project-campaign-builder{
  .project-background{
    background-image: url('./images/campaignbuilder.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &:hover{
    .project-text{
      background-color: rgba(80, 80, 80, .8);
      opacity:  1;
    }
  }
}
#project-sportex-safety{
  .project-background{
    background-image: url('./images/sportex.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &:hover{
    .project-text{
      background-color: rgba(80, 80, 80, .8);
      opacity: 1;
    }
  }
}
.overlay{
  position: fixed;
  z-index: 100;
  width: 90vw;
  height: 90vh;
  background-color: rgb(220, 220,220);
  left: 0;right: 0;top: 0;bottom: 0;
  margin: auto;
  font-family: "Arial", Gadget, sans-serif;
  h3{
    height: min-content;
  }
  .overlay-card{
    height: 70%;
    @media screen and (min-width: 900px) {
      height: 100%;
    }
  }
  div{
    .inner-content{
      height:100%;
      div{
        display:block;
        position: relative;
        z-index: 2;
        margin-right: auto;
        margin-left: auto;
        margin-top: 3vh;
        img{
          position: relative;
          height:100%;
          width:100%;
        }
      }
    }
  }
}
.tint-overlay{
  position:fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 80;
  display: none;
}


.group1{
  display:block;
  position: relative;
  font-size: .75em;
  padding-top: 2vh;
    img{
      position: relative;
      height:100%;
    }
  }
.notop{
  padding-top:0;
}
#contact{
  min-height: 75vh;
  padding-top:10%;
  padding-bottom:10%;
  font-family: "Arial Black", Gadget, sans-serif;
  button{
    background-color: rgb(100, 100, 100);
    border-color: rgb(230, 230, 230);
    &:hover{
      background-color: orange;
      border-color: rgb(230, 230, 230);
    }
  }
}
@media only screen and (min-width: 768px) {

  .logo-group{
    height:auto;
    margin-top: 10%;
  }

  #work{
    .example{
      h3{
        font-size: 2vw;
      }
    }
  }
  #contact{
    min-height: 100vh;
  }

}
@media screen and (min-width: 751px) and (max-width: 882px){
}
@media only screen and (min-width: 900px){
  .overlay div .inner-content{
    height: 100%;
    font-size: 1.4rem;
  }
}
